.landing-page {
  width: 100%;
  height: calc(90vh - 2px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: rgb(53, 0, 53);
}
.landing-page > article {
  color: black;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-page > article > h5 {
  font-size: 1.1rem;
}
.landing-page > article > p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.landing-page > article > div {
  font-size: 3rem;
  line-height: 4.5rem;
}
.landing-page > article > h6 {
  font-size: 0.75rem;
}
.landing-page > figure {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page > figure > img {
  aspect-ratio: auto;
  width: 100%;
}
.access-buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.access-buttons > button {
  border-radius: 5px;
  border-color: rgb(53, 0, 53);
  color: rgb(53, 0, 53);
  padding: 0.75rem 2rem;
  transition: color, background-color, 200ms ease-out;
}
.access-buttons > button:nth-child(1) {
  background-color: rgb(53, 0, 53);
  color: white;
}
.access-buttons > button:nth-child(1):hover {
  background-color: white;
  color: rgb(53, 0, 53);
  transition: color, background-color, 200ms ease-in;
}
.access-buttons > button:nth-child(2):hover {
  background-color: rgb(53, 0, 53);
  color: white;
  transition: color, background-color, 200ms ease-in;
}
