.messaging-container {
  width: 95%;
  height: 20vh;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}
.messaging-container > header,
.messaging-container > footer {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: space-around;
}
header > .message-formatter {
  cursor: pointer;
}
.messaging-container > form {
  height: 50%;
  width: 100%;
}
.messaging-container > header {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  padding-left: 1rem;
}
.messaging-container > footer {
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.25rem;
}
.messaging-input {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}
footer > .send-message-button {
  cursor: pointer;
  border: 2px solid white;
  width: 3rem;
  font-size: 1.75rem;
  border-radius: 8px;
  background-color: rgb(88, 129, 88);
  padding: 0.1rem 0;
}
