.welcome-container {
  width: 100%;
  height: 100vh;
}
.welcome-menu > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 5vh;
  border-bottom: 2px solid white;
}
.welcome-menu > ul > li {
  list-style: none;
}
.friends-search-container {
  width: 100%;
}
.friends-search-container .search-input {
  width: 90%;
}
.online-friends-count {
  width: 100%;
  height: 5vh;
  border-bottom: 2px solid white;
  display: flex;
  gap: 1.5em;
  padding-left: 1rem;
  align-items: center;
}
.friends-list {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.friends-list > img {
  height: 35px;
  margin-right: 1rem;
}
.friends-list > .friend-profile {
  flex-grow: 1;
}
