.sign-in-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/hands.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.sign-in-container,
.form-container,
.sign-in-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sign-in-container,
.sign-in-input {
  border: 2px solid black;
}
.sign-in-container,
.form-container {
  align-items: center;
  width: max-content;
}
.sign-in-container > h1,
.sign-in-inputs-container > label,
.sign-in-inputs {
  color: rgba(53, 0, 53);
}
.sign-in-button,
.sign-in-inputs-container > label {
  margin-top: 1.5rem;
}
.sign-in-container {
  height: 600px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: white;
}
.sign-in-container > img {
  height: 8rem;
  scale: 1.3;
  padding: 0.5rem 0;
  margin-top: -1rem;
}
.sign-in-container > h1 {
  z-index: 1;
}
.sign-in-container > h4 {
  color: rgba(53, 0, 53);
  margin-top: 1rem;
}
.form-container {
  padding: 0.5rem 0.75rem;
}
.sign-in-inputs-container > label {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}
.sign-in-inputs {
  width: 50ch;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  color: white;
  background-color: rgba(53, 0, 53);
}
.sign-in-inputs ~ span {
  width: 50ch;
  color: red;
  display: none;
}
.sign-in-button {
  width: 15ch;
  color: rgba(53, 0, 53);
  background-color: white;
  border-color: black;
  transition: color, background-color, 200ms ease-out;
}
.sign-in-button:hover {
  color: white;
  background-color: rgba(53, 0, 53);
  border-color: white;
  transition: color, background-color, 200ms ease-in;
}
.invalid,
.valid {
  color: red;
}
.invalid {
  display: block;
}
.valid {
  display: none;
}
.sign-in-inputs-container {
  position: relative;
}
.visible {
  position: absolute;
  bottom: -5.35rem;
  right: 1rem;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.invisible {
  position: absolute;
  bottom: -5.35rem;
  right: 1rem;
  color: white;
  cursor: pointer;
  z-index: 1;
  display: none;
}
