.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(60vw - 4px);
  height: 100%;
  border-left: 2px solid antiquewhite;
  border-right: 2px solid antiquewhite;
  background-color: rgb(55, 0, 55);
}
